<!-- core/templates/core/login.html -->
{% extends 'core/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <section class="card form-card">
    <h2>Login</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}
      <label>Email
        {{ form.email }}
      </label>

      <label>Password
        {{ form.password }}
      </label>

      <button class="btn primary" type="submit">Enter</button>
    </form>

    <p class="muted">No account? <a href="{% url 'core:register' %}">Create one</a></p>
  </section>
{% endblock %}

